.text {
  font-size: 14px;
  font-family: sans-serif;
  margin: 0;
}

.text.paragraph {
  font-size: 14px;
  color: #808080;
}

.text.subheading {
  font-size: 18px;
  font-weight: bold;
}

.text.heading {
  font-size: 30px;
  font-weight: bold;
}

.text.gutterBottom {
  margin-bottom: 0.5em;
}
